@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom Scrollbar */
.customscrollbar::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

.customscrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.customscrollbar::-webkit-scrollbar-thumb {
  background: #4a90e2;
  border-radius: 10px;
}

.customscrollbar::-webkit-scrollbar-thumb:hover {
  background: #357ab8;
}



.customscrollbargray::-webkit-scrollbar {
  width: 1px;
}

.customscrollbargray::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.customscrollbargray::-webkit-scrollbar-thumb {
  background: #838d97;
  border-radius: 10px;
}

.customscrollbargray::-webkit-scrollbar-thumb:hover {
  background: #798289;
}




.widthscrollbar::-webkit-scrollbar {
  height: 0px;
  width: 2px;
}

.widthscrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.widthscrollbar::-webkit-scrollbar-thumb {
  background: #838d97;
  border-radius: 10px;
}

.widthscrollbar::-webkit-scrollbar-thumb:hover {
  background: #838d97;
}

#container {
  height: 500px;
  min-width: 310px;
  max-width: 800px;
  margin: 0 auto;
}

.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}
